# Configurações do Banco de Dados PostgreSQL (Ex: Neon, Supabase, Local)
DATABASE_URL="postgresql://usuario:senha@host:port/nome_do_banco?sslmode=require"

# Chave secreta de criptografia para tokens JWT (Gere uma chave forte em produção)
JWT_SECRET="insira_aqui_uma_chave_secreta_fortissima_para_producao"
JWT_REFRESH_SECRET="insira_aqui_uma_chave_secreta_para_refresh_token_fortissima"

# URL do cache Redis (Opcional, com fallback automático em memória)
REDIS_URL="redis://localhost:6379"

# Porta onde o servidor da API irá rodar localmente
PORT=3333

